<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>小米手机4c立即购买</title>
	<link rel="stylesheet" href="__PUBLIC__/home/css/buy.css" />
	<link rel="stylesheet" href="__PUBLIC__/home/css/iconfont.css">
	<script type="text/javascript" src="__PUBLIC__/home/js/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/home/js/unslider.js"></script>
	<script type="text/javascript" src="__PUBLIC__/home/js/buy.js"></script>
</head>
<body>
	<div id="fixed-banner">
		<div class="banner">
			<span>购买小米手机4c</span>
			<a href="">立即购买</a>
		</div>
	</div>
	<div id="header">
		<div class="header-content">
			<div class="logo">
				<a href="{:U('Index/index')}"><img src="__PUBLIC__/home/image/logo.png" alt="" /></a>
			</div>

				<!-- <div class="login">
					<a href="">用户昵称</a>
					<span class="sep"> | </span>
					<a href="">退出登录</a>
				</div> -->

				<div class="login">
					<a href="{:U('Login/login')}">登录</a>
					<span class="sep"> | </span>
					<a href="{:U('Login/register')}">注册</a>
				</div>

		</div>
	</div>
	<div class="phone-list">
		<ul>
			<li><a href="">小米 Note</a></li>
			<li><a href="" style="border-bottom:1px solid #333333;">小米手机4c</a></li>
			<li><a href="">小米手机4</a></li>
			<li><a href="">红米Note 2</a></li>
			<li><a href="">红米Note</a></li>
			<li><a href="">红米手机2</a></li>
			<li><a href="">红米手机2A</a></li>
			<li><a href="">对比手机</a></li>
		</ul>
	</div>
	<div id="phone-meal">
		<div class="phone-image">
			<img src="__PUBLIC__/home/image/mi4c.png" alt="" />
		</div>
		<div class="phone-type">
		<div class="type-title">
			<p style="color:#333;">购买小米手机4c&nbsp;</p>
			<p style="color:#FF6700;;">1100元</p>
			<a href="{:U('Show/index')}">深入了解产品></a>
		</div>
		<div class="buy-step">
			选择版本：
		</div>
		<div class="different-type">
			<ul>
				<li value="">标准版 2GB内存+16GB容量</li>
				<li value="">高配版 3GB内存+32GB容量</li>
			</ul>	
		</div>
		<div class="buy-step">
			选择网络制式：
		</div>
		<div class="different-type">
			<ul>
				<li value="">全网通</li>
				<li value="">双网通</li>
			</ul>	
		</div>
		<div class="buy-step">
			选择颜色：
		</div>
		<div class="different-type">
			<ul>
				<li value="">蓝色</li>
				<li value="">白色</li>
				<li value="">灰色</li>
			</ul>	
		</div>
		<div class="phone-checked">
				您选择了以下产品：
			</div>
			<div class="checked-type">
			</div>
			<input type="button" value="下一步" class="next-step"/>
			<input type="submit" value="立即购买" class="buyit"/>
			<input type="button" value="缺货登记" class="no-good"/>
		</div>
	</div>






<!-- 底部开始 -->
<div id="bottom">
	<div class="service">
		<ul>
			<li><a href="">1小时快修服务</a></li>
			<li><a href="">7天无理由退货</a></li>
			<li><a href="">15天免费换货</a></li>
			<li><a href="">满150包邮</a></li>
			<li style="border:none;"><a href="">150家售后网点</a></li>
		</ul>
	</div>
	<div class="aboutus">
		<ul>
			<li class="infomations">
				<span>帮助中心</span>
				<ul class="details">
					<li>购物指南</li>
					<li>支付方式</li>
					<li>配送方式</li>
				</ul>
			</li>
			<li class="infomations">
				<span>服务支持</span>
				<ul class="details">
					<li>售后政策</li>
					<li>自助服务</li>
					<li>相关下载</li>
				</ul>
			</li>
			<li class="infomations">
				<span>小米之家</span>
				<ul class="details">
					<li>小米之家</li>
					<li>服务网点</li>
					<li>预约亲临到店服务</li>
				</ul>
			</li>
			<li class="infomations">
				<span>关于小米</span>
				<ul class="details">
					<li>了解小米</li>
					<li>假如小米</li>
					<li>联系我们</li>
				</ul>
			</li>
			<li class="infomations">
				<span>关注我们</span>
				<ul class="details">
					<li>新浪微博</li>
					<li>小米论坛</li>
					<li>官方微信</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="contactus">
		<div class="number">400-100-5678</div>
		<div class="time">周一至周日 8:00-18:00</div>
		<div class="cost">（仅收市话费）</div>
	</div>

</div>
<div class="last">
	<div class="zong">
		<div class="somethingelse">
			<a href=""小米网></a>
			<a href="">米聊</a><span class="sep"> | </span>
			<a href="">多看书城</a><span class="sep"> | </span>
			<a href="">MIUI</a><span class="sep"> | </span>
			<a href="">小米路由器</a><span class="sep"> | </span>
			<a href="">小米后院</a><span class="sep"> | </span>
			<a href="">小米天猫店</a><span class="sep"> | </span>
			<a href="">小米淘宝直营店</a><span class="sep"> | </span>
			<a href="">小米网盟</a><span class="sep"> | </span>
			<a href="">问题反馈</a><span class="sep"> | </span>
			<a href="">Select Region</a>
		</div>
		<div class="lawonline">
			©mi.com 京ICP证110507号 京ICP备10046444号 京公网安备1101080212535号 京网文[2014]0059-0009号
		</div>
	</div>
	
	<div class="last-right">
		<ul>
			<li>
				<a href=""><img src="__PUBLIC__/home/image/v-logo-1.png" alt="" /></a>
			</li>
			<li>
				<a href=""><img src="__PUBLIC__/home/image/v-logo-2.png" alt="" /></a>
			</li>
			<li>
				<a href=""><img src="__PUBLIC__/home/image/v-logo-3.png" alt="" /></a>
			</li>
		</ul>
	</div>	
</div>
<!-- 底部结束 -->
</body>
</html>