*{margin: 0px;padding: 0px}
/*header部分*/
#fixed-banner{
	width: 100%;height: 71px;
	border-bottom: 1px solid #dfdfdf;
	display: none;
	background: white;
	opacity: 0.9;
	position: fixed;
	z-index: 1000;
}
.banner{
	width: 1226px;height: 70px;
	margin: 0 auto;
	text-align: right;
}
.banner span{
	font-size: 14px;
	color: #333;
	line-height: 70px;
}
.banner a{
	width: 160px;height: 40px;
	display: inline-block;
	background: #ff6700;
	text-decoration: none;
	color: white;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	margin-left: 10px;
}
#header{
	width:100%;height: 102px;
	border-bottom: 2px solid #ff6700;
}
.sep{
	font-size: 11px;
	padding-left: 2px;
	padding-right: 2px;
	color: #B0B0B0;
}
.header-content{
	width: 1226px;height: 74px;
	margin: 0 auto;
}
.header-content img{
	display: block;
	width: 48px;height: 48px;
	padding-top: 20px;
	float: left;
}
.login{
	height: 40px;
	float: right;
	margin-top: 42px;
	margin-right: 20px;
}
.login a{
	font-size: 12px;
	color: #757575;
	text-decoration: none;
}
.login a:hover{
	color: #ff6700;
}
.phone-list{
	width: 1226px;height: 92px;
	margin: 0 auto;
}
.phone-list li{
	width: 153px;height: 76px;
	padding-top: 15px;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 76px;
	border-bottom: 1px solid #dfdfdf;
}
.phone-list li a{
	display: block;
	text-decoration:none;
	font-size:14px;
	color: #333;
}
#phone-meal{
	width: 1226px;height: auto;
	margin: 0 auto;
}
.phone-image{
	width: 600px;height: 600px;
	margin-top: 50px;
	margin-left: 80px;
	float: left;
}
.phone-image img{
	width: 480px;height: 480px;
}
.phone-type{
	width: 544px;
	float: right;
	margin-top: 50px;
}
.type-title{
	width:544px;height: 61px;
	border-bottom: 1px solid #dfdfdf;
}
.type-title p{
	float: left;
	font-size: 30px;
	line-height: 60px;
}
.type-title a{
	text-decoration: none;
	display: inline-block;
	float: right;
	font-size: 12px;
	color: #666;
	line-height: 60px;
}
.buy-step{
	width:544px;height: 56px;
	line-height: 56px;
	font-size: 18px;
	color: #333;
	float: left;
	/*background: blue;*/
}
.different-type{
	width: 544px;height: 64px;
	/*background: red;*/
}
.different-type li{
	width: 260px;
	text-align: center;
	line-height: 50px;
	color: #666;
	border:1px solid #dfdfdf;
	list-style: none;
	cursor: pointer;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}
.different-type .cur{
	border:1px solid #ff6700;
}
.phone-checked{
	width: 544px;height: 24px;
	text-align:left;
	font-size: 14px;
	line-height: 24px;
	margin-top: 30px;	
	float: left;
}
.checked-type{
	width: 544px;height: 24px;
	font-size: 12px;
	text-align: left;
	line-height: 24px;
	margin-top: 10px;
	float: left;
	color: #666;
}


/*下一步按钮*/
.next-step{
	width: 180px;height: 50px;
	background: white;
	color: #666;
	border:1px solid #dfdfdf;
	cursor: pointer;
	margin-top: 10px;
	float: left;
	font-size: 14px;
}
/*购买按钮*/
.buyit{
	width: 180px;height: 50px;
	background: #ff6700;
	color: white;
	border:1px solid white;
	cursor: pointer;
	margin-top: 10px;
	display: none;
	float: left;
	font-size: 14px;
}
/*无货*/
.no-good{
	width: 180px;height: 50px;
	background: #b0b0b0;
	border:1px solid white;
	color: white;
	font-size: 14px;
	cursor: pointer;
	display: none;
	float: left;
	margin-top: 10px;
}

#know-4c{
	width: 100%;
	border-top: 1px solid #E0E0E0;
	margin-top: 80px;
	float: left;
}
#know-4c a{
	display: block;
	width: 1226px;
	margin: 0px auto;
	height: 100%;
	border-bottom: 1px solid #E0E0E0;
}
#phone-make{
	width: 100%;height: 586.5px;
	margin: 0px auto;
	padding-bottom: 60px;
	border-bottom: 1px solid #E0E0E0;
	border-top: 1px solid #E0E0E0;
	float: left;
}
#phone-make a{
	display: block;
	width: 1226px;
	margin: 0px auto;
	height: 100%;
	outline: medium none;
	text-align: center;
}
#phone-make img{
	width: 900px;height: 586px;
	display: inline-block;
	margin: 1px auto;
}

.slide-show{
	width: 100%;height: 722px;
	overflow: hidden;
}
.slide-size{
	width: 1349px;height: 700px;
	margin: 0 auto;
	position: relative;
	display: block;
}
.slide-size li{
	position: absolute;
	left: -605.5px;top: 0px;
	list-style: none;
}
#know-detail{
	width: 1226px;height: 50px;
	text-align: center;
	cursor: pointer;
	margin: 0px auto;
	font-size: 30px;
	color: #424242;
	padding: 80px 0px 60px;
}
#service{
	width: 100%;height: 586.5px;
	margin: 0px auto;
}
#service a{
	display: block;
	width: 1226px;
	margin: 0px auto;
	height: 100%;
	outline: medium none;
	border-bottom: 1px solid #E0E0E0;
	text-align: center;
}
#service img{
	width: 1226px;height: 550px;
	display: inline-block;
	margin: 1px auto;
}








/*header结束*/

















/*底部开始*/
#bottom{
	width: 1226px;height: 272px;
	margin: 0 auto;
}
.service{
	width: 1226px;height: 80px;
	margin-top: 20px;
	border-bottom: 1px solid #e0e0e0;
	float: left;
}
.service ul li{
	width: 244px;
	list-style: none;
	float: left;
	margin-top: 20px;
	border-right: 1px solid #e0e0e0;
}
.service ul li a{
	text-align: center;
	padding-left: 70px;
	text-decoration: none;
	color: #616161;
}
.service ul li a:hover{
	color: #ff6700;
}
.aboutus{
	width: 890px;height: 182px;
	float: left;
}
.infomations{
	width: 165px;height: 112px;
	float: left;
	list-style: none;
	margin-top: 28px;
}
.infomations span{
	color: #424242;
	font-size: 15px;
}
.details{
	margin-top: 20px;
}
.details li{
	list-style: none;
	font-size: 12px;
	color: #757575;
	margin-top: 10px;
}
.contactus{
	width: 243px;height: 112px;
	float: right;
	text-align: center;
	margin-top: 30px;
	border-left: 1px solid #757575;
}
.number{
	color: #ff6700;
	font-size: 22px;
}
.time{
	color: #424242;
	font-size: 12px;
}
.cost{
	color: #424242;
	font-size: 12px;
}
.last{
	width: 1226px;height: 30px;
	margin: 0 auto;
}
.zong{
	float: left;
}
.somethingelse{
	margin-top: 20px;
	margin-left: 30px;
}
.somethingelse a{
	text-decoration: none;
	color: #757575;
	font-size: 12px;
}
.lawonline{
	font-size: 12px;
	color: #B0B0B0;
	margin-left: 30px;
}
.last-right{
	height:30px;
	float: right;
	margin-top: 20px;
}
.last-right li{
	width: 85px;height: 28px;
	float: left;
	list-style: none;
	margin-right: 10px;
}
/*底部结束*/
