*{margin: 0px;padding: 0px}
#logo{
	width: 60px;height: 60px;
	margin: 30px auto;
}
#logo img{
	width: 60px;height: 60px;
}
#Mi{
	margin: 20px auto;
	text-align: center;
	font-size: 25px;
	font-weight: 700;
}
#friendlink{
	margin: 20px auto;
	text-align: center;
	color: #8D8D8D;
}
#friendlink a{
	text-decoration: none;
	color: #8D8D8D;
	font-size: 14px;
}
#friendlink a:hover{
	color:#FF7E00;
}
#infomation{
	height: 170px;
	margin: 20px auto;
}
.account{
	width: 298px;
	display: block;
	line-height: 20px;
	padding: 12px 10px;
	border: 1px solid #E6E6E6;
	color: #333;
	font-size: 14px;
	margin: 20px auto;
}
.password{
	width: 298px;
	display: block;
	line-height: 20px;
	padding: 12px 10px;
	border: 1px solid #E6E6E6;
	color: #333;
	font-size: 14px;
	margin: 20px auto;
}
.sub{
	width: 320px;height: 44px;
	background: #ff7a4d; 
	border: 1px solid #ff7a4d;
	display: block;
	cursor: pointer;
	margin: 20px auto;
	color: #FFF;
	font-size: 16px;
}
.sub:hover{
	opacity: 0.8;
}
.other-way{
	width: 298px;
	margin: 20px auto;
	text-align: center;
}
.other-way .qq{
	width: 30px;height: 30px;
	display: inline-block;
	background: url(../image/othtype.png)no-repeat;
	margin-right: 10px;
}
.other-way .qq:hover{
	background: url(../image/othtype.png)no-repeat 0px -30px;
}
.other-way .weibo{
	width: 30px;height: 30px;
	display: inline-block;
	margin-right: 10px;
	background: url(../image/othtype.png)no-repeat -30px 0px;
}
.other-way .weibo:hover{
	background: url(../image/othtype.png)no-repeat -30px -30px;
}
.other-way .pay{
	width: 30px;height: 30px;
	display: inline-block;
	background: url(../image/othtype.png)no-repeat -60px 0px;
}
.other-way .pay:hover{
	background: url(../image/othtype.png)no-repeat -60px -30px;
}

.situation{
	width: 324px;height: 18px;
	margin: 0 auto;
	text-align: right;
}
.situation a{
	text-decoration: none;
	font-size: 12px;
	color: gray;
}
.situation a:hover{
	color:#FF7E00;
}
.reg{
	width: 320px;height: 44px;
	background: white; 
	border: 1px solid #E5E5E5;
	display: block;
	cursor: pointer;
	margin: 17px auto;
	color: gray;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	line-height: 44px;
}
.reg:hover{
	color: #333;
}
.lan{
	margin-top: 90px;
	margin-bottom: 10px;
	text-align: center;
}
.lan a{
	text-decoration: none;
	font-size: 12px;
	color: #999;
	padding: 0px 5px;
}
.lan a:hover{
	color: gray;
	font-size: 13px;
	font-weight: 700;
}
.sep{
	color: #666;
	font-size: 11px; 
}
.law{
	text-align: center;
	font-size: 12px;
	color: #999;
}