*{margin: 0px;padding: 0px}
/*banner部分*/
#banner{
	height: 40px;
	background: #333333;
}
.banner_content{
	width: 1226px;height: 40px;
	margin: 0 auto;
}
.banner_left{
	width: 520px;height: 40px;
	float: left;
}
.banner_left a{
	text-decoration: none;
	line-height: 40px;
	font-size: 12px;
	color: #B0B0B0;
}
.banner_left a:hover{
	color: white;
	text-decoration: none;
}
.sep{
	font-size: 13px;
	margin: -60px 0.2em;
	color: #3d423d;
}
.shopcar{
	width: 120px;height: 40px;
	float: right;
	background: #3d423d;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	color: red;
}
.shopcar a{
	width: 120px;height: 40px;
	display: block;
	color: #b0b0b0;
	text-decoration: none;
}
.shopcar:hover{
	background: white;
}
.shopcar:hover a{
	color: #ff6700;
	text-decoration: none;
}
.login{
	float: right;
	margin-right: 15px;
}
.login a{
	text-decoration: none;
	line-height: 40px;
	color: #b0b0b0;
	font-size: 12px;
}
.login a:hover{
	color: white;
	text-decoration: none;
}
.user{
	float: right;
	margin-right: 15px;
	line-height: 40px;
}
.user a:hover{
	color: #ff6700;
	text-decoration: none;
}
.username{
	float: left;height: 40px;
	text-align: center;
	position: relative;
	padding: 0 10px;
}
.username a{
	font-size: 12px;
	color: #b0b0b0;
}
.username:hover .user-detail{
	display: block;
}
.mylist{
	float: right;
	margin-left: 10px;
}
.mylist a{
	font-size: 12px;
	color: #b0b0b0;
}






/*banner部分结束*/


/*导航栏开始*/
#guidebar{
	width: 1220px;height: 100px;
	margin: 0 auto;
}
#logo{
	margin-top: 22px;
	width: 55px;height: 55px;
	float: left;
}
#logo a{
	width: 55px;height: 55px;
	display: block;
}
.guidenav{
	width: 850px;height: 100px;
	float: left;
}
.guidenav ul{
	float: right;
}
.guidenav li{
	margin-top: 39px;
	float: left;
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
}
.guidenav li a{
	color: #333333;
	text-decoration: none;
}
.guidenav li a:hover{
	color: #ff6700;
}
.banner_search{
	width: 296px;height: 50px;
	float: right;
	margin-top: 23px;
}
.search{
	width: 239px;height: 48px;
	border-left: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	text-indent: 0.7em;
}
.sub{
	width: 50px;height: 48px;
	border: 1px solid #e0e0e0;
	font-weight: 700;
	transition:0.4s;
}
.sub:hover{
	background: #ff6700;
	color: white;
}
/*商品分类*/
#container{
	width: 1226px;height: 460px;
	margin: 0 auto;
	position: relative;
}
.cover{
	width: 234px;height: 460px;
	background: black;
	opacity: 0.6;
	z-index: 70;
	position: absolute;
}
.site-category{
	width: 234px;height: 460px;
	z-index: 100;
	position: absolute;
}
.showgoods{
	float: right;
	z-index: 50;
	position: absolute;
}
.category{
	padding-top: 23px;
}
.category li{
	list-style: none;
	width: 234px;height: 42px;
	padding-left: 34px;
	color: white;
	line-height: 42px;
	/*position: relative;*/
}
.cates{
	color: white;
}
.cates:hover{
	text-decoration: none;
	color: white;
}
.category-children{
	position: absolute;
	width: auto;height: 460px;
	background: white;
	top: -23px;left: 234px;
	display: none;
}
.category-good1{
	position: relative
}
.category-good1 li{
	width: 265px;height: 76px;
	background: white;
	padding: 18px 20px;
}
.category .category-good1 li:hover{
	background:white;
}
.category-good1 a{
	color: #333;
}
.category-good1 a img{
	margin-right: 10px;
}
.category-good1 a:hover{
	text-decoration: none;
	color: #ff6700;
}
.category li:hover{
	background:#ff6700;
	opacity: 1;
}
.category li:hover .category-children{
	display: block;
}
/*商品分类结束*/
#wholefunc{
	width: 1226px;height: 170px;
	margin: 15px auto; 
}
#functions{
	width: 234px;height: 170px;
	background: #5f5750;
	float: left;
}
.siglefunc li{
	width: 74px;height: 80px;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 50px;
	margin-left: 4px;
}
.siglefunc .iconfont{
	text-align: center;
	font-size: 25px;
	color: #cfcdcb;
}
.siglefunc li a{
	text-decoration: none;
	text-align: center;
	font-size: 12px;
	color: #cfcdcb;
	margin-top: -20px;
	display: block;
}
.siglefunc li:hover a{
	color: white;
}
.goods a{
	width: 316px;height: 170px;
	display: block;
	float: left;
	margin-left: 14px;
}
/*常用功能结束*/
/*明星单品开始*/
.title h3{
	padding-top: 10px;
	width: 1226px;height: 50px;
	margin: 30px auto;
	color: #212121;
	border-bottom: 1px solid #3ebff9;
}
#stargood{
	width: 1226px;height: 340px;
	/*border: 1px solid black;*/
	margin: 0 auto;
	text-align: center;
}
#stargood li{
	width: 234px;height: 338px;
	list-style: none;
	float: left;
	margin-left: 10px;
	background: #fafafa;
}
#stargood li:nth-of-type(1){
	margin-left: 0px;
}
#stargood img{
	margin-top: 37px;
}
.goodname{
	margin-top: 10px;
}
.goodname a{
	text-decoration: none;
	font-size: 13px;
	color: #212121;
}
.goodname a:hover{
	color: #212121;
	text-decoration: none;
}
.infos{
	margin-top: 6px;
}
.infos{
	font-size: 12px;
	color: #B0B0B0;
}
.price{
	font-size: 13px;
	color: #ff6700;
	margin-top: 10px;
}


/*明星单品结束*/
/*智能硬件开始*/
#smarthardware{
	width: 100%;height: auto;
	margin: 0 auto;
	margin-top: 35px;
	background: #fafafa;
}
.hardwaretitle{
	width: 1226px;height: 48px;
	margin: 15px auto;
}
.hardwaretitle h3{
	color: #212121;
	float: left;
}
.know-more{
	float: right;
	margin-top: 20px;
}
.know-more a{
	color: #424242;
	font-size: 16px;
	transition:0.2s;
}
.know-more a span{
	font-size: 12px;
}
.know-more a:hover{
	color: #FF6700;
	text-decoration: none;
}
.hardware{
	width: 1226px;height: 614px;
	margin: 0 auto;
}
.miband-sale{
	float: left;
	transition:0.2s;
}
.miband-sale:hover{
	box-shadow: 0px 0px 10px 2px #999;
	margin-top: -3px;
}
.hardware-list{
	width: 992px;height: 302px;
	float: right;
	text-align:center;
}
.hardware-list li{
	width: 234px;height: 300px;
	list-style: none;
	background:white;
	margin-left: 14px;
	float: left;
	transition:0.2s;
}
.hardware-list li:hover{
	box-shadow: 0px 1px 10px 2px #999;
	margin-top: -3px;
}
.hardware-list li a{
	width: 160px;height: 160px;
	display: inline-block;
}
.hardware-list li a img{
	width: 100%;
}
/*智能硬件结束*/
/*搭配开始*/
#sale{
	width: 100%;height: 760px;
	margin: 0 auto;
	padding-top: 35px;
	/*border: 1px solid black;*/
	background: #fafafa;
	overflow: hidden;
}
.sale-list{
	width: 1226px;height: 48px;
	margin: 15px auto;
}
.sale-list h3{
	color: #212121;
	float: left;
}
.sale-list .list{
	float: right;
	list-style: none;
	margin-top: 25px;
}
.sale-list .list li{
	float: left;
	margin-left: 20px;
	font-size: 16px;
	cursor: pointer;
	transition:0.2s;
}
.sale-list .list li:hover{
	color: #ff6700;
}
.sale-goods{
	width: 1230px;
	margin: 0 auto;
}
.hot-goods{
	width: 234px;height: auto;
	list-style: none;
	float: left;
	margin-top: 10px;
}
.hot-goods li:nth-of-type(2){
	margin-top: 20px;
}
.goods-show{
	width: 994px;
	float: left;
	text-align: center;
	margin-top: 12px;
}
.goods-show li{
	width: 233px; height: 300px;
	float: left;
	list-style: none;
	margin-left: 14px;
	background:white;
	position: relative;
	transition:0.2s;
	margin-bottom: 5px;
}
.goods-show li:hover{
	margin-top: -2px;
	margin-bottom: 7px;
	box-shadow: 0px 1px 10px 1px #999;
}
.goods-show li:nth-of-type(5){
	margin-top: 15px;
}
.goods-show li:nth-of-type(5):hover{
	margin-top: 13px;
	box-shadow: 0px 1px 10px 1px #999;
}
.goods-show li:nth-of-type(6){
	margin-top: 15px;
}
.goods-show li:nth-of-type(6):hover{
	margin-top: 13px;
	box-shadow: 0px 1px 10px 1px #999;
}
.goods-show li:nth-of-type(7){
	margin-top: 15px;
}
.goods-show li:nth-of-type(7):hover{
	margin-top: 13px;
	box-shadow: 0px 1px 10px 1px #999;
}
.goods-show li:nth-of-type(8){
	margin-top: 15px;
	background: #fafafa;
	box-shadow: 0px 0 0 0px white;
}
.goods-show li img{
	width: 150px;height: 150px;
	margin-top: 30px;
}
.goods-show .good-discount{
	position: absolute;
	top: 0;left: 36%;
	font-size: 12px;
	background: #e53935;
	width: 64px;
	text-align: center;
	color: white;
}
.goods-show .good-name{
	margin-top: 20px;
	font-size: 13px;
}
.goods-show .good-price{
	color: #ff6700;
	margin-top: 3px;
	font-size: 13px;
}
.goods-show .good-comment{
	color: #B0B0B0;
	margin-top: 10px;
}
.else-goods{
	width: 234px;height: 143px;
	background: white;
	transition:0.2s;
}
.else-goods:hover{
	margin-top: -2px;
	margin-bottom: 15.5px;
	box-shadow: 0px 1px 10px 1px #999;
}
.else-goods a img{
	width: 80px;height: 80px;
	float: right;
	margin-right: 25px;
}
.else-good-name{
	float: left;
	margin: 40px 0 0 25px;
}
.else-good-name p{
	color: #ff6700;
	margin-top: 5px;
}
.watch-more{
	width: 234px;height: 143px;
	background: white;
	margin-top: 15px;
	transition:0.2s;
}
.watch-more:hover{
	margin-top: 13px;
	box-shadow: 0px 1px 10px 1px #999;
}
.watch-more a:nth-of-type(1){
	display: block;
	float: left;
	margin: 40px 0 0 25px;
	color: #333;
	font-size: 18px;
}
.watch-more a:nth-of-type(1):hover{
	text-decoration: none;
}
.watch-more small{
	font-size: 12px;
	color: #B0B0B0;
	display: block;
	margin-left: -45px;
}
.watch-more span{
	padding: 3px;
	float: right;
	font-size: 25px;
	color: #ff6700;
	background: white;
	border: 3px solid #ff6700;
	border-radius: 50%;
	margin: 40px 25px 0 0; 
}


/*搭配结束*/










/*底部开始*/
#bottom{
	width: 1226px;height: 272px;
	margin: 0 auto;
}
.service{
	width: 1226px;height: 80px;
	margin-top: 20px;
	border-bottom: 1px solid #e0e0e0;
	float: left;
}
.service ul li{
	width: 244px;
	list-style: none;
	float: left;
	margin-top: 20px;
	border-right: 1px solid #e0e0e0;
}
.service ul li a{
	text-align: center;
	padding-left: 70px;
	text-decoration: none;
	color: #616161;
}
.service ul li a:hover{
	color: #ff6700;
}
.aboutus{
	width: 890px;height: 182px;
	float: left;
}
.infomations{
	width: 165px;height: 112px;
	float: left;
	list-style: none;
	margin-top: 28px;
}
.infomations span{
	color: #424242;
	font-size: 15px;
}
.details{
	margin-top: 20px;
}
.details li{
	list-style: none;
	font-size: 12px;
	color: #757575;
	margin-top: 10px;
}
.contactus{
	width: 243px;height: 112px;
	float: right;
	text-align: center;
	margin-top: 30px;
	border-left: 1px solid #757575;
}
.number{
	color: #ff6700;
	font-size: 22px;
}
.time{
	color: #424242;
	font-size: 12px;
}
.cost{
	color: #424242;
	font-size: 12px;
}
.last{
	width: 1226px;height: 30px;
	margin: 0 auto;
}
.zong{
	float: left;
}
.somethingelse{
	margin-top: 20px;
	margin-left: 30px;
}
.somethingelse a{
	text-decoration: none;
	color: #757575;
	font-size: 12px;
}
.lawonline{
	font-size: 12px;
	color: #B0B0B0;
	margin-left: 30px;
}
.last-right{
	height:30px;
	float: right;
	margin-top: 20px;
}
.last-right li{
	width: 85px;height: 28px;
	float: left;
	list-style: none;
	margin-right: 10px;
}
/*底部结束*/
