*{margin: 0px;padding: 0px;}
/*banner部分*/
#banner{
	height: 40px;
	background: #333333;
}
.banner_content{
	width: 1226px;height: 40px;
	margin: 0 auto;
}
.banner_left{
	width: 520px;height: 40px;
	float: left;
}
.banner_left a{
	text-decoration: none;
	line-height: 40px;
	font-size: 12px;
	color: #B0B0B0;
}
.banner_left a:hover{
	color: white;
	text-decoration: none;
}
.sep{
	font-size: 13px;
	margin: -60px 0.2em;
	color: #3d423d;
}
.shopcar{
	width: 120px;height: 40px;
	float: right;
	background: #3d423d;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	color: red;
}
.shopcar a{
	width: 120px;height: 40px;
	display: block;
	color: #b0b0b0;
	text-decoration: none;
}
.shopcar:hover{
	background: white;
}
.shopcar:hover a{
	color: #ff6700;
	text-decoration: none;
}
.login{
	float: right;
	margin-right: 15px;
}
.login a{
	text-decoration: none;
	line-height: 40px;
	color: #b0b0b0;
	font-size: 12px;
}
.login a:hover{
	color: white;
	text-decoration: none;
}
.user{
	float: right;
	margin-right: 15px;
	line-height: 40px;
}
.user a:hover{
	color: #ff6700;
	text-decoration: none;
}
.username{
	float: left;height: 40px;
	text-align: center;
	position: relative;
	padding: 0 10px;
}
.username a{
	font-size: 12px;
	color: #b0b0b0;
}
.username:hover .user-detail{
	display: block;
}
.mylist{
	float: right;
	margin-left: 10px;
}
.mylist a{
	font-size: 12px;
	color: #b0b0b0;
}
/*banner部分结束*/


/*导航栏开始*/
#guidebar{
	width: 1220px;height: 100px;
	margin: 0 auto;
	background: white;
}
#logo{
	margin-top: 22px;
	width: 55px;height: 55px;
	float: left;
}
#logo a{
	width: 55px;height: 55px;
	display: block;
}
.guidenav{
	width: 850px;height: 100px;
	float: left;
}
.guidenav ul{
	float: right;
}
.guidenav li{
	margin-top: 39px;
	float: left;
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
}
.guidenav li a{
	color: #333333;
	text-decoration: none;
}
.guidenav li a:hover{
	color: #ff6700;
}
.banner_search{
	width: 296px;height: 50px;
	float: right;
	margin-top: 23px;
}
.search{
	width: 239px;height: 48px;
	border-left: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	text-indent: 0.7em;
}
.sub{
	width: 50px;height: 48px;
	border: 1px solid #e0e0e0;
	font-weight: 700;
	transition:0.4s;
}
.sub:hover{
	background: #ff6700;
	color: white;
}
/*导航栏结束*/
/*个人中心*/

.title{
	width: 1226px;height: 35px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 35px;
	color: #616161;
}
#user-info-content{
	width: 100%;
	background: #f5f5f5;
	margin: 0 auto;
	padding-bottom: 35px;
}
.info-content{
	width: 1226px; height: 820px;
	margin: 0 auto;
}
.info-list{
	width: 234px;
	background: white;
	padding: 30px;
	float: left;
}
.list-title{
	font-size: 17px;
	color: #333;
}
.list li{
	width: 187px;
	list-style: none;
	font-size: 13px;
	margin-top: 15px;
}
.list li a{
	color: #757575;
}
.list li a:hover{
	text-decoration: none;
	color: #333;
}
.user-info{
	width: 966px;
	background: white;
	padding: 36px 45px;
	margin-left: 15px;
	float: left;
}
.info-flex{
	width: 100%;height: 200px;
	border-bottom: 1px solid #e0e0e0;
}
.user-head{
	float: left;
}
.user-head img{
	width: 160px;height: 160px;
	border-radius: 50%;
	padding: 3px;
	border: 1px solid #e3e3e3;
}
.leftmoney{
	margin-left: 7px;
	margin-top: 10px;
}
.leftmoney span{
	color: #ff6700;
	font-size: 27px;
}
.user-name{
	width: 420px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
.user-name h2{
	width: 170px;
	color: #616161;
	font-size: 25px;
}
.user-name p{
	color: #B0B0B0;
	float: left;
}
.acount-title{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 20px;
	font-size: 17px;
	color: #616161;
	border-bottom: 1px solid #e0e0e0;
}
.acount-title .nav-tabs{
	margin-top: -10px;
}
.acount-title .tab-content .tab-pane{
	margin-top: 15px;
}
.acount-money{
	padding-top: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e0e0e0;
}
.acount-money span{
	font-size: 26px;
}
.address-content{
	width: 100%;
	margin-top: 50px;
}
.order-list{
	width: 100%;height: 50px;
	/*background:red;*/
	margin: 8px 0px;
}
.money-order{
	float: left;
	margin-top: 20px;
}
.money-order li{
	float: left;
	text-decoration: none;
	/*background: red;*/
	padding-left: 10px;
	list-style:none;
	font-size:13px;
}
.order-list a{
	display: block;
	width: 135px;height: 35px;
	float: right;
	background: #ff6700;
	text-align: center;
	line-height: 35px;
	font-size: 14px;
	color: white;
	margin-top:7px;
}
.order-list a:hover{
	text-decoration: none;
	color: white;
}
.price{
	color: #ff6700;
	font-size: 25px;
}
.address{
	clear: both;
	height: 310px;
	/*background: red;*/
}
/*个人中心*/




/*底部开始*/
#bottom{
	width: 1226px;height: 272px;
	margin: 0 auto;
}
.service{
	width: 1226px;height: 80px;
	margin-top: 20px;
	border-bottom: 1px solid #e0e0e0;
	/*float: left;*/
}
.service ul li{
	width: 244px;
	list-style: none;
	float: left;
	margin-top: 20px;
	border-right: 1px solid #e0e0e0;
}
.service ul li a{
	text-align: center;
	padding-left: 70px;
	text-decoration: none;
	color: #616161;
}
.service ul li a:hover{
	color: #ff6700;
}
.aboutus{
	width: 890px;height: 182px;
	float: left;
}
.infomations{
	width: 165px;height: 112px;
	float: left;
	list-style: none;
	margin-top: 28px;
}
.infomations span{
	color: #424242;
	font-size: 15px;
}
.details{
	margin-top: 20px;
}
.details li{
	list-style: none;
	font-size: 12px;
	color: #757575;
	margin-top: 10px;
}
.contactus{
	width: 243px;height: 112px;
	float: right;
	text-align: center;
	margin-top: 30px;
	border-left: 1px solid #757575;
}
.number{
	color: #ff6700;
	font-size: 22px;
}
.time{
	color: #424242;
	font-size: 12px;
}
.cost{
	color: #424242;
	font-size: 12px;
}
.last{
	width: 1226px;height: 30px;
	margin: 0 auto;
}
.zong{
	float: left;
}
.somethingelse{
	margin-top: 20px;
	margin-left: 30px;
}
.somethingelse a{
	text-decoration: none;
	color: #757575;
	font-size: 12px;
}
.lawonline{
	font-size: 12px;
	color: #B0B0B0;
	margin-left: 30px;
}
.last-right{
	height:30px;
	float: right;
	margin-top: 20px;
}
.last-right li{
	width: 85px;height: 28px;
	float: left;
	list-style: none;
	margin-right: 10px;
}
/*底部结束*/
